<p>contacto works!</p>
<h1>Esto es la pagina de contacto</h1>

<!--> ------------ <!-->

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="../../../../../assets/img/icon/logoig.png" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-secondary">Ir a instagram</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../../../../../assets/img/icon/logoface.png" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-secondary">Ir a facebook</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../../../../../assets/img/icon/logoemail.png" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-secondary">Email</button>
            </div>
          </div>
        </div>
      </div>