
<!--> ------CONTACT SECCION------ <!-->

<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h4>Contactanos</h4>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Tu nombre">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Tu correo electrónico</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="correo@email.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Numero de contacto</label>
        <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Coloca tu numero">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Dejanos un mensaje</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <button class="btn btn-primary">Enviar</button>
    </div>

    <div class="col-md-5">
      <h4>Ubicanos</h4><hr>
      <div class="mt-5">
        <div class="d-flex">
          <i class="bi bi-geo-alt-fill"></i>
          <p>Ubicanos en: Ituzaingo 282, Córdoba capital, Argentina</p>
        </div><hr>
        <div class="d-flex">
          <i class="bi bi-telephone-fill"></i>
          <p>Comunicate al: +54-351-4672916</p>
        </div><hr>
        <div class="d-flex">
          <i class="bi bi-envelope-paper-fill"></i>
          <p>Nuestro email: contacto@ampa.com</p>
        </div><hr>
        <div class="d-flex">
          <i class="bi bi-browser-chrome"></i>
          <p>Sitio web: ampa.com</p>
        </div>
      </div>

    </div>
  </div>

</div>