
form {
    width: 450px;
    margin: auto;
    background: rgba(0,0,0,0.6);
    padding: 10px 20px; 
    box-sizing: border-box;
    margin-top: 10px;
    border-radius: 20px;
}

h2 {
    color: white;
    text-align: center;
    margin: 10;
    font-size: 30px ;
    margin-bottom: 5px;
}

h3 {
    color: white;
    text-align: center;
}

input, textarea {
width: 100%;
margin-bottom: 5px;
padding: 7px;
box-sizing: border-box;
font-size: 14px;
border:none
}

textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#boton {
    background: #31384A;
    
    color: beige;
    padding: 15px;
    border-radius: 5px;
}

#boton:hover {
    border-bottom: 1px solid #cccccc;
    border-top: 2px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-left: 2px solid #cccccc;
    cursor: pointer;
}

@media (max-width:480px) {
    form{
        width: 100%;
    }
}