body {
   background-color: #fff6f6;
   margin:0px;
   padding: 0px;
   
   
}
/* MAQUETACION */

#conteiner-body { 
    
    
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 0.5fr;
    grid-template-rows:1fr ;
    gap: 0px 0px;
    grid-auto-flow: row;
    
  }

  .navbar-nav a {
    color: black;
    
  }
  .navbar-nav .btn {
    color: aliceblue;
    
  }
  .navbar-nav .nav-item:hover a{
    color: aliceblue;
    font-weight: bold;
  }

  .nav-link{
    border-radius: 10%;
    
    
   
  }
  
  
.nav-link:hover{
    border-bottom: 1px solid #cccccc;
    border-top: 2px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-left: 2px solid #cccccc;
    background:#0d6efd;
    color: aliceblue;

}



/* -------------SECCION HEADER-------------------------*/
/* ----------------------------------------------------*/
/* ----------
#conteiner-encabezado {
    
    width: 100%;
    min-height: auto;
    display: inline-block;
    justify-content: center;
    background:black;
    
   
    
}
/* -----------------------

#imgLogo {
    height: 80px;
    width: 100px;
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
}
-----------------------------*/


/* -------------SECCION NAV-------------------------*/
/* ----------------------------------------------------*/
/* ----------
.conteiner-nav{
    
    display:flex;
    width: 95%;
    
    margin: auto;
    
}



.conteiner-navLeft{
    width: 66%;
    text-align: center;
    display:flex;
    
}


.conteiner-navRight{
    width: 35%;
    text-align: center;
    justify-content: right;
    
    display: flex;
    margin-left: 5%;
    
    
     
}

.conteiner-navRight .enlaceboton{
    max-width: 90%;
    
}
/* -------------BOTONES-------------------------*/
/* ----------------------------------------------------*/
/* ---
.enlaceboton {    
    
    width: 100%;
    min-width: max-content;
    height: inherit;
    background-color: #050505;
    font-family: "calibri";
    font-size: 150%;
    font-weight: bold;
    color: #fff6f6;
    text-decoration: none;
    border-radius: 6px;
    padding: 20%;
    margin:auto;
    
    
 }

 .enlaceboton:link,
 .enlaceboton:visited {
    border-top: 1px solid #cccccc;
    border-bottom: 2px solid #666666;
    border-left: 1px solid #cccccc;
    border-right: 2px solid #666666;
 }
 
 .enlaceboton:hover {
    border-bottom: 1px solid #cccccc;
    border-top: 2px solid aqua;
    border-right: 1px solid #cccccc;
    border-left: 2px solid aqua;
    color: aqua;
 }
 /* -------------BOTONES-------------------------*/

/* -------------FIN SECCION NAV-------------------------*/



/* -------------SECCION MAIN(ARTICLES Y ASIDE)-------------------------*/
/* -------------------------------------------------------------------*/
/* -----------
#conteiner-main-section{
    display: grid;
    padding: 20px;
    margin: auto;
    padding-bottom: 20px;
    font-family: "calibri";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "left1 right1"
      "left2 right2"
      ;
  }
 .conteiner-articles-left1{grid-area: left1; }
 .conteiner-articles-left2{grid-area: left2; }
 
 .conteiner-articles-right1{grid-area: right1; }
 .conteiner-articles-right1{grid-area: right2; }
 


#conteiner-main-section h1{
    font-size: 40px;
    text-align: center;
    color: red;
    font-weight: bold;
}

/* ------------- SECCION ARTICLES LEFT-------------------------*/
/* ------------------------------------------------------------*/

    
.conteiner-articles-left {
    
    
    background: yellowgreen;
    margin:1%;
    padding: 1%;
    box-shadow: 1px 1px 10px #000;
    display: inline-block;
    
    
}

.conteiner-articles-left h1 {
    font-size: 40px;
    text-align: center;
}
.conteiner-articles-left p {
    font-size: 20px;
}
.conteiner-articles-left img {
    max-width:100% ;
}


/* -------------FIN SECCION ARTICLES LEFT-------------------------*/

/* ------------- SECCION ARTICLES CENTER-------------------------*/
/* ------------------------------------------------------------*/
.conteiner-articles-right{
    margin:1%;
    padding: 1%;
    background: yellowgreen;
    box-shadow: 1px 1px 10px #000;
    display: inline-block;
    
    

}

.conteiner-articles-right h1{
    font-size: 40px;
    text-align: center;
}

.conteiner-articles-right p {
    font-size: 20px;
}



.conteiner-articles-right img {
    max-width:100% ;
   
}

/* ------------- FIN SECCION ARTICLES CENTER-------------------------*/

/* -------------SECCION ASIDE-------------------------*/
/* ------------------------------------------------------------*/

aside{
    
    margin:1%;
    display: inline-block;
    box-shadow: 1px 1px 10px #000;
    background: blue;
    
    

}
/* ---
aside,.main-article {
    background-color: white;
}
------*/
aside h1 {
    font-size: 200%;
    text-align: center;
    color: white;
}

aside div{
    
    max-width: 95%;
    background:white;
    
}

/* -------------FIN SECCION ASIDE-------------------------*/

    
    
/* -------------FIN SECCION MAIN-------------------------*/





/* -------------SECCION FOOTER MAIN-------------------------*/
/* ------------------------------------------------------------*/

/* -------------SECCION FOOTER BOTTON-------------------------*/
/* ------------------------------------------------------------*/
#conteiner-footer{
    
    
    
    margin: 0px;
    padding: 0px;
    justify-content: center;
    background:black;
    font-family: "calibri";
    color: white;
}

.conteiner-footer-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    text-align: center;
    
    
}
.conteiner-column1{
    
    margin-right: 2%;
}

.conteiner-column1 h1{
    font-size: 22px;
    
    margin: 2%;
}

.conteiner-column1 p {
    font-size: 18px;
    color: #cccccc;
    margin-top: 20px;
}

.conteiner-column2{
    
    margin-right: 2%;
    
}

.conteiner-column2 h1{
    font-size: 22px;
    margin: 2%;
}



.conteiner-column3{
    
    margin-right: 2%;
}

.conteiner-column3 h1{
    font-size: 22px;
    margin: 2%;
}

.row2 {
    margin-top: 20px;
    display: flex;
    padding-left: 25%;
}

.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label {
    margin-left: 20px;

}


.conteiner-footer-botton{
    
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: #cccccc
    
}



.conteiner-footer-botton a {

    text-decoration: none;
    color:white;
    font-weight: bold;
}











/* -------------FIN SECCION FOOTER-------------------------*/


/* -----------------RESOLUCIÓN PARA MÓVILES-------------------------*/
@media screen and (max-width: 600px){
#conteiner-body {  display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 80px 1.9fr 1fr 0.3fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "Header"
          "Main"
          "Aside"
          "Footer";
    }
      
    #conteiner-encabezado { grid-area: Header;
        margin: 0px;
        padding: 0px;
        max-width: 500px; }
      
    #conteiner-main-section { grid-area: Main; 
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "uno"
      "dos"
      "tres"
      "cuatro";
    max-width: 500px ;
    padding: 0px;
    max-height: 1900px;

}
.conteiner-articles-left1{
    grid-area: uno;
    
}
.conteiner-articles-left2{
    grid-area: dos;
}      
.conteiner-articles-right1{
    grid-area: tres;
}
.conteiner-articles-ritgh2{
    grid-area: cuatro;
}
#conteiner-aside { 
        grid-area: Aside;
        margin: 0px;
        padding: 0px;
        max-width: 500px;
        margin: auto;
        height:200px;
    }
      
#conteiner-footer { grid-area: Footer;
        margin: 0px;
        padding: 0px;
        max-width: 500px;
    }


      
    
}
/* -----------------FIN DE RESOLUCIÓN PARA MÓVILES-------------------------*/


/* -------------AQUI PONER TODO EL CSS QUE CORRESPONDA A OTRO HTML QUE NO SEA INDEX, DESPUES VEREMOS SI LO PONEMOS EN ARCHIVO -------------------------*/
/* -------------SECCION FROMULARIO REGISTRO Y INICIO SESION -------------------------*/
.formbody{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-image: url("../imagenes/fondoReg.jpg");

}

.bodyindex{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-image: url("../imagenes/fondoReg.jpg");
    display: block;

}


.formreg{
   
    background: rgb(21, 20, 27);
    width: 400px;
    padding: 30px;
    margin: auto ;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Calibri';
    color: #fff6f6;
    box-shadow: 7px 13px 37px white;
}

.formreg h4{

    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    
}

.formreg p{
    height: 40px;
    text-align: center;
    font-family: "calibri";
    font-size: 18px;
    line-height: 40px;

}

.formreg a{
    color: white;
    text-decoration: none;
}

.formreg a:hover{
    color: white;
    text-decoration:underline ;
}

.formreg .enlaceboton{
   width: 100%;
   height: 40px;
   border: none;
   padding: 12px;
   margin: 16px 0;
   box-shadow: 7px 7px 27px rgb(139, 138, 138);
}
.formreg .enlaceboton:hover{
    border-bottom: 1px solid #cccccc;
    border-top: 2px solid #666666;
    border-right: 1px solid #cccccc;
    border-left: 2px solid #666666;

}
.inputreg{
    width: 95%;
    background: rgb(21, 20, 27);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border:1px solid white;
    font-family: "calibri";
    font-size: 25px;
    text-align: center;
    color: white;

}
/* -------------FIN SECCION FORMULARIO-------------------------*/
#carrousel-servicios{
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow:0px 0px 24px 0px #2081C3;

}
.NAVBAR{
    border-bottom: 1px solid #2081C3;
}