
.navbar-nav a {
    color: white;

}

.navbar-nav .btn {
    color: aliceblue;

}

.navbar-nav .nav-item:hover a {
    color:black;
    font-weight: bold;
}




.nav-link:hover {
    
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    cursor: pointer;
    background: white;
    color: aliceblue;
}

.line{
    width: 100%;
    float: left;
    height: 2px;
    background-color: #fff;
    margin-bottom: 5px;
    }
.whatsapp-icon {
        position: fixed;
        bottom: 30px;
        font-size: 32px;
        border-radius: 50%;
        color: white;
        background-color: #25D366;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        right: 30px;
        z-index: 9999;
      }
        
