.table-container {
    max-height: 400px; 
    overflow-y: auto;
  }
  .table-container::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
  }
  
  .table-container::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color de fondo de la barra de desplazamiento */
  }
  
  .table-container::-webkit-scrollbar-thumb {
    background-color: blue; /* Color de la barra de desplazamiento */
  }
  .table {
    border-radius: 10px; 
    overflow: hidden; 
  }
  .btn-agregar-archivo {
    background-color: black; 
    color: #ffffff;
    padding: 10px 20px; 
    border-radius: 5px; 
    
  }
  .formulario-container {
    border: 1px solid #ccc; 
    border-radius: 5px; 
    padding: 20px; 
   
  }
  
    