/* You can add global styles to this file, and also import other style files */

:root {
  --background: #0c3d6b;
  --background2: #bfddff;
  --titulos: #fff;
  --texto: #bbb;
  --texto-resaltado: #ffa305;
  --boton: #348047;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
