<div class="carritoimg">
    <img src="../../../../../assets/img/imagencarrito.png" class="img-thumbnail" id="imgcarrito" alt="imagen-carrito">
</div>
<h2 style="text-align: center;">¡Completa tu compra!</h2>
<div *ngIf="listaProductos.length > 0">
    <div class="mat-elevation-z3">
        <table mat-table [dataSource]="dataSource" matSort>
          
            <!-- ID de producto Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
          
            <!-- Producto Column -->
            <ng-container matColumnDef="producto">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Producto </th>
              <td mat-cell *matCellDef="let element"> {{element.producto}} </td>
            </ng-container>
          
            <!-- Cantidad Column -->
            <ng-container matColumnDef="cantidad">
              <th mat-header-cell *matHeaderCellDef> Cantidad </th>
              <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
            </ng-container>
          
            <!-- Precio Column -->
            <ng-container matColumnDef="precio">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
              <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
            
            <!-- Acciones Column -->
            <ng-container matColumnDef="acciones" style="text-align: right;">
                
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element; let i = index"> 
                    <!-- Boton agregar -->
                    <a class="pointer"  matTooltip="Agregar" (click)="incrementarCantidad(i)">
                        <mat-icon>add</mat-icon>
                    </a>
                    <!-- Boton remover -->
                    <a class="pointer" matTooltip="Remover" (click)="decrementarCantidad(i)">
                        <mat-icon>remove</mat-icon>
                    </a>
                    <!-- Boton delete -->
                    <a class="pointer" style="color: red;"  matTooltip="Eliminar" (click)="eliminarProducto(i)">
                        <mat-icon>delete</mat-icon>
                    </a>
                
                </td>
              </ng-container>
        

        
        <!--    Paginador -->
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements">
        </mat-paginator>  
    </div>
    
    <h2 class="preciototal">Precio total de los productos: {{ calcularPrecioTotal() }}</h2>

    <!-- BOTON DE PAGAR -->
    <div class="botonpagar"><button mat-raised-button color="warn">Pagar</button></div>
    
</div>

<!-- DIV EN CASO DE NO HABER PRODUCTOS EN EL CARRITO -->
<div class="sinproductos"><h2 *ngIf="listaProductos.length == 0">¡Oops! No tienes productos en tu carrito</h2></div>

<div class="botonpagar"></div>


  