.containerCategoria {
    width: 40%;
    text-align: start;
}
.formProd {
    width: 100%;
}
.fullwidth {
    width: 100%;
}

.btnCategoria {
    background-color: #dc3545;
}

.btnAgregarCategoria {
    background-color: #198754;
}

textarea {
    resize: none;
    margin: 10px 15px;
    
}
.mat-form-field {
    
    display: block;
    width: 40%;
    
}
