<h2 style="text-align: center;">Administración reservas de todos los usuarios</h2>
<br>
<div class="table-container">
<table class="table table-hover table-dark">
    <thead>
      <tr>
        <th>ID Reserva</th>
        <th>Fecha reservada</th>
        <th>Hora</th>
        <th>Costo</th>
        <th>Usuario</th>
        <th>Instalacion</th>
        <th>Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reserva of reservas">
        <td>{{ reserva.idReserva }}</td>
        <td>{{ reserva.fecha }}</td>
        <td>{{ reserva.hora }}</td>
        <td>{{ reserva.costo }}</td>
        <td>{{ obtenerNombreUsuario(reserva.usuario) }}</td>
        <td>{{ obtenerNombreInstalacion(reserva.instalaciones) }}</td>
        <td><mat-icon class="mat-warn" (click)="eliminarReserva(reserva.idReserva)">delete</mat-icon></td>
      </tr>
    </tbody>
  </table>
</div>