<footer>
    <!--  ***********SECTION QUE CONTIENE COLUMN 1, 2, 3 DATOS PRINCIPALES DEL FOOTER  ***********  -->
    <div class="conteiner-footer-main">

        <!--  ***********SECTION QUE CONTIENE COLUMN1 MAS INFORMACION SOBRE NUESTRO COMPLEJO***********  -->
        <div class="conteiner-column1">
            <h2>
                Más información sobre nuesto complejo
            </h2>
            <p>
                Asociación Mutual de Programadores Argentinos(A.M.P.A)
                Complejo deportivo para afiliados y no afiliados.
            </p>

        </div>

        <!--  ***********SECTION QUE CONTIENE COLUMN2: REDES SOCIALES ***********  -->
        <div class="conteiner-column2">
            <h2>
                Redes Sociales
            </h2>
            <div class="row2">
                <img class="icon" src="assets/img/icon/Facebook.png" alt="logo facebook">
                <label>
                    <a href="https://www.facebook.com/"> Seguinos en Facebook</a>
                </label>
            </div>

            <div class="row2">
                <img class="icon" src="assets/img/icon/instagram.png" alt="logo instagram">
                <label>
                    <a href="https://www.instagram.com/"width="50" height="50" alt="logo facebook"> Seguinos en Instagram</a>
                </label>
            </div>

        </div>

        <!--  ***********SECTION QUE CONTIENE COLUMN3 INFORMACIÓN DE CONTACTO ***********  -->
        <div class="conteiner-column3">
            <h2>
                Información de Contacto
            </h2>

            <div class="row2">
                <img class="icon" src="assets/img/icon/casa.png" alt="logo casa">
                <label>
                    Ituzaingo 282, Córdoba capital, Argentina
                </label>
            </div>

            <div class="row2">
                <img class="icon" src="assets/img/icon/telefono.png" alt="logo telefono">
                <label>
                    +54-351-4672916
                </label>
            </div>

            <div class="row2">
                <img class="icon" src="assets/img/icon/email.png" alt="logo email">
                <label>
                    contacto@ampa.com
                </label>
            </div>
        </div>




    </div>
    <!--  ***********AQUI TERMINA SECTION QUE CONTIENE COLUMN 1, 2, 3 DATOS PRINCIPALES DEL FOOTER  ***********  -->


    <!--  ***********SECTION QUE CONTIENE COPYRIGTH -->
    <div class="conteiner-footer-botton">
        <div>
            © 2022 Todos los derechos reservados | <a href="https://devcord.g4merstore.com.ar/">DevCord Inspiradores digitales</a>

        </div>

        <div>
            <a href="aboutus.html">informacion de la compañia |</a>
            <a href="">Terminos y condiciones </a>

        </div>

    </div>

    <!--  *********** FIN SECTION QUE CONTIENE COPYRIGTH -->

</footer>
