<div class="container text-end mt-4  ">
  <a routerLink="/dashboard/productos" type="button" class="btn  btn-danger  ">cerrar</a>
</div>
<div *ngIf="carrito && carrito.detalles.length > 0">
    <h2>Carrito de {{ carrito.usuario.nombre }}</h2>
    
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombre Producto</th>
          <th scope="col">Marca</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Monto</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let detalle of carrito.detalles">
          <td>{{ detalle.producto.nombre }}</td>
          <td>{{ detalle.producto.marca }}</td>
          <td>{{ detalle.cantidad }}</td>
          <td>{{ detalle.monto }}</td>
          <td><button (click)="eliminarProducto(detalle)" type="button" class="btn btn-danger">Eliminar</button></td>
        </tr>
      </tbody>
    </table>
    <div class="container text-end  ">
      <h3>Monto Total: {{ carrito.monto }}</h3>
  
      <button (click)="finalizarCompra()" type="button" class="btn  btn-success  ">Finalizar compra</button>
    </div>
  </div>
  <div class="container" *ngIf="carrito && carrito.detalles.length === 0">
    <h1>No hay Productos en el carrito</h1>
  </div>