<section id="conteiner-body">


  <div class="conteiner-articles">
      <h1>COMPLEJO DEPORTIVO A.M.P.A</h1>
     
      <article class="conteiner-articles1">
        
              <h2>INSTALACIONES</h2>
              <div class="card-group">
                  <div class="card">
                    <img src="assets/img/canchaFutbol.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h3 class="card-title">CANCHAS DE FUTBOL</h3>
                      <p class="card-text">
                          Canchas de Fútbol 7 con piso de cesped sintético de ultima generación.
                          Las mismas cuentan con iluminación led y marcador.  

                      </p>
                      
                    </div>
                  </div>
                  <div class="card">
                    <img src="assets/img/canchaPaddle.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h3 class="card-title">CANCHAS DE PADDLE</h3>
                      <p class="card-text">
                          Canchas de Paddle con piso de alfombra y paredes de acrílico.
                      </p>
                      
                    </div>
                  </div>
                  <div class="card">
                    <img src="assets/img/Gimnacio.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h3 class="card-title">GIMNASIO</h3>
                      <p class="card-text">Equipamiento completo y de ultima generación</p>
                      
                    </div>
                  </div>
              </div>

             
      </article>

      <article class="conteiner-articles2">
         
              <div>
                  <img src="assets/img/icon/icono-mano.png" alt="icono mano" class="icon">
                  <h3>NUESTRA MISIÓN</h3>
                  <p>
                      Contribuir al desarrollo integral de las personas ayudando y apoyando constantemente a alcanzar sus metas. 
                      Ofrecemos a nuestros socios calidad de servicio en un ambiente ameno y moderno controlado por personal 
                      calificado en donde ademas de buscar el beneficio fisico tambien pueden socializar. 
                      Para cumplir con nuestra misión basamos nuestro accionar en los siguientes principios: 
                      Honestidad y Respeto, Creatividad, Trabajo en equipo, Compromiso de Lealtad y solidaridad
                  </p>
              </div>
          
               <div style="background:white ;">
                  <img src="assets/img/icon/icono-ojo.png" alt="icono ojo" class="icon">
                  <h3>NUESTRA VISIÓN</h3>
                  <p>
                      Ser la mejor opción fitness y recreativa de Córdoba Capital, por nuestras actividades y servicios. Los socios hablan, 
                      nosotros escuchamos. La voz del socio siempre impulsa el desarrollo de nuestros planes estratégicos y acciones. 
                      Esta visión se mantiene obteniendo las sugerencias de los socios y sus expectativas en cada oportunidad y 
                      diferenciándonos en cómo prestamos nuestros servicios. En como se los presentamos y que le ofrecemos día a día.
                  </p>
              
              </div>
              <div>
                  <img src="assets/img/icon/icono-personas.png" alt="icono personas" class="icon">
                  <h3>COMPROMISO</h3>
                  <p>
                      Dedicar nuestros esfuerzos a conocer y satisfacer las necesidades de nuestros socios, proporcionándoles un servicio
                      de calidad que cumpla con sus expectativas. Ofrecerles una atmósfera agradable, con un equipo de profesionales entusiastas, 
                      en un ambiente limpio y organizado.
                  </p>
              </div>
             
             
          
      </article>

      <article class="conteiner-articles3">
          <img src="assets/img/logoAmpa2.png" alt="logo ampa 2">
          <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3404.7859275633714!2d-64.18733846928276!3d-31.42002364407771!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432a29b2bb80ae7%3A0x71dd277fea7e9a77!2sItuzaing%C3%B3%20282%2C%20X5000%20C%C3%B3rdoba!5e0!3m2!1ses!2sar!4v1665765118552!5m2!1ses!2sar"
                  width="400" height="480" style="border:0;  " allowfullscreen="" loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade">
              </iframe>
      </article>

  </div>

  <!--  ***********AQUI TERMINA SECTION PARA ARTICLE ***********  -->






  <!--  ***********AQUI EMPIEZA ASIDE ***********  -->

  <aside>
      <h1>PRÓXIMOS TORNEOS</h1>
      <ul>
          <li class="conteiner-aside1">


              <img src="assets/img/torneo-paddle.png" alt="foto torneo paddle"> 
              <h4>Torneo de Paddle Profesional</h4>
                  <p>
                      Seremos sede del circuito de Paddle Profesional. 
                      Para inscripciones e información: <a href="https://padel.org.ar/">Circuito de Padel
                          Argentito</a>
                  </p>

          </li>

          <li class="conteiner-aside2">
              <img src="assets/img/torneo-futbol.jpg" alt="foto torneo futbol"> 
              <h4>Primer Torneo de Fútbol Femenino</h4>
                  <p>
                      Realizaremos el primer torneo de fútbol femenino de nuestro complejo. 
                      Para inscripciones e información contáctenos. 
                  </p>
          </li>

      </ul>


  </aside>
















