<section class="container-fluid">
    <article class="row " >
        <div class="col-9 text-center">
            <h2 >INSTALACIONES</h2>
            <div class="card-group">
                <div class="card">
                  <img src="assets/img/canchaFutbol.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h3 class="card-title">CANCHAS DE FUTBOL</h3>
                    <p class="card-text">
                        Canchas de Fútbol 7 con piso de cesped sintético de ultima generación.
                        Las mismas cuentan con iluminación led y marcador.  

                    </p>
                    
                  </div>
                </div>
                <div class="card">
                  <img src="assets/img/canchaPaddle.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h3 class="card-title">CANCHAS DE PADDLE</h3>
                    <p class="card-text">
                        Canchas de Paddle con piso de alfombra y paredes de acrílico.
                    </p>
                    
                  </div>
                </div>
                <div class="card">
                  <img src="assets/img/Gimnasio.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h3 class="card-title">GIMNASIO</h3>
                    <p class="card-text">Equipamiento completo y de ultima generación</p>
                    
                  </div>
                </div>
            </div>
        </div>
        
      </article>

    <article class="row ">
               
      <div class="col-3 text-center">
          <img src="assets/img/icon/icono-mano.png" alt="icono mano" class="icon">
          <h3>NUESTRA MISIÓN</h3>
          <p>
              Contribuir al desarrollo integral de las personas ayudando y apoyando constantemente a alcanzar sus metas. 
              Ofrecemos a nuestros socios calidad de servicio en un ambiente ameno y moderno controlado por personal 
              calificado en donde ademas de buscar el beneficio fisico tambien pueden socializar. 
              Para cumplir con nuestra misión basamos nuestro accionar en los siguientes principios: 
              Honestidad y Respeto, Creatividad, Trabajo en equipo, Compromiso de Lealtad y solidaridad
          </p>
      </div>
  
      <div class="col-3 text-center">
          <img src="assets/img/icon/icono-ojo.png" alt="icono ojo" class="icon">
          <h3>NUESTRA VISIÓN</h3>
          <p>
              Ser la mejor opción fitness y recreativa de Córdoba Capital, por nuestras actividades y servicios. Los socios hablan, 
              nosotros escuchamos. La voz del socio siempre impulsa el desarrollo de nuestros planes estratégicos y acciones. 
              Esta visión se mantiene obteniendo las sugerencias de los socios y sus expectativas en cada oportunidad y 
              diferenciándonos en cómo prestamos nuestros servicios. En como se los presentamos y que le ofrecemos día a día.
          </p>
      
      </div>
      <div class="col-3 text-center">
          <img src="assets/img/icon/icono-personas.png" alt="icono personas" class="icon">
          <h3>COMPROMISO</h3>
          <p>
              Dedicar nuestros esfuerzos a conocer y satisfacer las necesidades de nuestros socios, proporcionándoles un servicio
              de calidad que cumpla con sus expectativas. Ofrecerles una atmósfera agradable, con un equipo de profesionales entusiastas, 
              en un ambiente limpio y organizado.
          </p>
      </div>
     
     
  
</article>
<div class="row">
  <div>

  </div>
  <div>
    aside
  </div>
</div>
        
</section>
