<section class="container-fluid">
    <div class="row">
        <div class="col-9 text-center">
            <h2 >INSTALACIONES</h2>
            <div class="card-group">
                <div class="card">
                  <img src="assets/img/canchaFutbol.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h3 class="card-title">CANCHAS DE FUTBOL</h3>
                    <p class="card-text">
                        Canchas de Fútbol 7 con piso de cesped sintético de ultima generación.
                        Las mismas cuentan con iluminación led y marcador.  

                    </p>
                    
                  </div>
                </div>
                <div class="card">
                  <img src="assets/img/canchaPaddle.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h3 class="card-title">CANCHAS DE PADDLE</h3>
                    <p class="card-text">
                        Canchas de Paddle con piso de alfombra y paredes de acrílico.
                    </p>
                    
                  </div>
                </div>
                <div class="card">
                  <img src="assets/img/Gimnasio.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h3 class="card-title">GIMNASIO</h3>
                    <p class="card-text">Equipamiento completo y de ultima generación</p>
                    
                  </div>
                </div>
            </div>
        </div>
        <div class="col-3" style="border:2px;">
          aside
        </div>
    </div>
        
</section>