<div class="container">
  <h2>Usuarios</h2>
  <button class="btn btn-success m-2" (click)="mostrarFormulario = !mostrarFormulario">
    {{ mostrarFormulario ? 'Ocultar formulario' : 'Agregar usuario' }}
  </button>  
  <!-- Formulario para agregar/editar usuarios -->
  <form [formGroup]="usuarioForm" (ngSubmit)="guardarUsuario()" *ngIf="mostrarFormulario">
    <mat-form-field>
      <input matInput formControlName="dni" placeholder="DNI">
      <mat-error *ngIf="usuarioForm.controls['dni'].invalid && (usuarioForm.controls['dni'].dirty || usuarioForm.controls['dni'].touched)">
        DNI es requerido
      </mat-error>
    </mat-form-field>
    
    <mat-form-field>
      <input matInput formControlName="nombre" placeholder="Nombre">
      <mat-error *ngIf="usuarioForm.controls['nombre'].invalid && (usuarioForm.controls['nombre'].dirty || usuarioForm.controls['nombre'].touched)">
        Nombre es requerido
      </mat-error>
    </mat-form-field>
    
    <mat-form-field>
      <input matInput formControlName="apellido" placeholder="Apellido">
      <mat-error *ngIf="usuarioForm.controls['apellido'].invalid && (usuarioForm.controls['apellido'].dirty || usuarioForm.controls['apellido'].touched)">
        Apellido es requerido
      </mat-error>
    </mat-form-field>
    
    <mat-form-field>
      <input matInput formControlName="email" placeholder="Email">
      <mat-error *ngIf="usuarioForm.controls['email'].invalid && (usuarioForm.controls['email'].dirty || usuarioForm.controls['email'].touched)">
        Email es requerido y debe ser válido
      </mat-error>
    </mat-form-field>
    
    <mat-form-field>
      <input matInput formControlName="telefono" placeholder="Teléfono">
      <mat-error *ngIf="usuarioForm.controls['telefono'].invalid && (usuarioForm.controls['telefono'].dirty || usuarioForm.controls['telefono'].touched)">
        Teléfono es requerido
      </mat-error>
    </mat-form-field>
    
    <mat-form-field>
      <input matInput formControlName="direccion" placeholder="Dirección">
      <mat-error *ngIf="usuarioForm.controls['direccion'].invalid && (usuarioForm.controls['direccion'].dirty || usuarioForm.controls['direccion'].touched)">
        Dirección es requerida
      </mat-error>
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>¿Es staff?</mat-label>
      <mat-select formControlName="is_staff">
        <mat-option value="true">Sí</mat-option>
        <mat-option value="false">No</mat-option>
      </mat-select>
    </mat-form-field>
    
    <button type="submit" [disabled]="usuarioForm.invalid">Enviar</button>
  </form>


<!-- Lista de usuarios -->
<table mat-table [dataSource]="usuarios" class="mat-elevation-z8 container">
  <ng-container matColumnDef="dni">
    <th mat-header-cell *matHeaderCellDef>DNI</th>
    <td mat-cell *matCellDef="let usuario">{{ usuario.dni }}</td>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let usuario">{{ usuario.nombre }}</td>
  </ng-container>

  <ng-container matColumnDef="apellido">
    <th mat-header-cell *matHeaderCellDef>Apellido</th>
    <td mat-cell *matCellDef="let usuario">{{ usuario.apellido }}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let usuario">{{ usuario.email }}</td>
  </ng-container>

  <ng-container matColumnDef="telefono">
    <th mat-header-cell *matHeaderCellDef>Teléfono</th>
    <td mat-cell *matCellDef="let usuario">{{ usuario.telefono }}</td>
  </ng-container>

  <ng-container matColumnDef="direccion">
    <th mat-header-cell *matHeaderCellDef>Dirección</th>
    <td mat-cell *matCellDef="let usuario">{{ usuario.direccion }}</td>
  </ng-container>

  <ng-container matColumnDef="is_staff">
    <th mat-header-cell *matHeaderCellDef>¿Es staff?</th>
    <td mat-cell *matCellDef="let usuario">{{ usuario.is_staff ? 'Sí' : 'No' }}</td>
  </ng-container>

  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef>Acciones</th>
    <td mat-cell *matCellDef="let usuario">
      <button mat-icon-button color="primary" (click)="editarUsuario(usuario, usuario.id)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="borrarUsuario(usuario)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['dni', 'nombre', 'apellido', 'email', 'telefono', 'direccion', 'is_staff', 'acciones']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['dni', 'nombre', 'apellido', 'email', 'telefono', 'direccion', 'is_staff', 'acciones']"></tr>
</table>
</div>