.formulario {
    display: flex;
    
    flex-wrap: wrap;
    padding: 10px;
    gap: 15px;
    
    
}
mat-form-field {
    margin-left: 10px;
}
#fecha {
    width: 100px;
}
#cvc {
    width: 80px;
}
.botones {
    display: flex;
    
    justify-content: flex-end;
    align-items: flex-end;
    
    
}
.terms {
    margin: 10px;
}
.comprar {
    margin: 20px;
    background-color: #dc3545;
    color: white;
}