

<form class="formulario">
    <!-- Datos del comprador -->
    <div class="comprador">
        <h2>Datos del comprador</h2>
    <mat-form-field>
      <input matInput placeholder="Nombre" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Apellido" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="DNI" required>
    </mat-form-field>
    </div>
  
    <!-- Datos de la tarjeta -->
    <div class="tarjeta">
        <h2>Datos de la tarjeta</h2>
    <mat-form-field>
      <input matInput placeholder="Número de tarjeta" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Fecha de vencimiento" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="CVC" required>
    </mat-form-field>
    </div>
  
    <!-- Datos de envío -->
    <div class="envio">
        <h2>Datos de envío</h2>
    <mat-form-field>
      <input matInput placeholder="País" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Provincia" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Localidad" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Dirección" required>
    </mat-form-field>
    </div>
    
  
    <!-- Términos y condiciones -->
    <div class="botones">
    <mat-checkbox required class="terms">Acepto los términos y condiciones</mat-checkbox>
  
    <!-- Botones -->
    
      <button mat-raised-button  type="submit" (click)="pagar()" class="comprar btn">Comprar</button>
      
    </div>
  </form>