
<div class="body">
  <div class="login">
    <mat-card>
      <mat-card-title>Iniciar Sesión</mat-card-title>
      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <img src="../../../assets/img/usuario.png" width="50%" alt="">
          <mat-form-field class="ancho" appearance="fill">
            <mat-label>DNI</mat-label>
            <input matInput formControlName="dni" required>
            <mat-error *ngIf="loginForm.controls['dni'].errors?.['required']">Este campo es requerido</mat-error>
            <mat-error *ngIf="loginForm.controls['dni'].errors?.['pattern']">Debe ingresar solo números</mat-error>
            <mat-error *ngIf="loginForm.controls['dni'].errors?.['max']">Ingrese un DNI Correcto</mat-error>
            <mat-error *ngIf="loginForm.controls['dni'].errors?.['min']">Ingrese un DNI Correcto</mat-error>
          </mat-form-field>
  
          <mat-form-field class="ancho" appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" formControlName="password" required>
            <mat-error *ngIf="loginForm.controls['password'].errors?.['required']">Este campo es requerido</mat-error>
            <mat-error *ngIf="loginForm.controls['password'].errors?.['minlength']">La contraseña debe tener al menos 8 caracteres</mat-error>
          </mat-form-field>
  
          <button mat-raised-button class="ancho button mt-4" color="primary" type="submit" [disabled]="loginForm.invalid">Iniciar Sesión</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>


</div>
