<div class="body">
    <div class="login">
        
        <form [formGroup]="form" (ngSubmit)="login()" >
            <img src="../../../assets/img/usuario.png" width="50%" alt="">
            <h1>Login</h1>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Dni</mat-label>
                <input matInput type="number" formControlName="dni">
            </mat-form-field>
                <div *ngIf="dni.invalid && (dni.dirty || dni.touched)"
                    class="alert alert-danger">

                    <div *ngIf="dni.errors?.['required']">
                        Ingrese su número de DNI
                    </div>

                    <div *ngIf="dni.errors?.['pattern']">
                        Ingrese solo <strong> números</strong>
                    </div>
                </div>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" formControlName="password">
            </mat-form-field>
                <div *ngIf="password.invalid && (password.dirty || password.touched)"
                    class="alert alert-danger">

                    <div *ngIf="password.errors?.['required']">
                        La contraseña es requerido
                    </div>
                    <div *ngIf="password.errors?.['minlength']">
                        La contraseña debe contener al menos 8 caracters
                    </div>
                </div>
            <br>
            <button type="submit"  mat-raised-button class="ancho button" color="primary" [disabled]="form.invalid" >Ingresar</button>
        </form>
    </div>
</div>
