.compraRealizada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 25px;
    
}
button {
    padding: 10px;
    margin-bottom: 20px;
}