<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Monto</th>
        <th>Fecha</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let factura of facturas">
        <td>{{factura.id}}</td>
        <td>{{factura.carrito.usuario.nombre}}</td>
        <td>{{factura.carrito.usuario.apellido}}</td>
        <td>{{factura.subtotal}}</td>
        
         <td>{{factura.fecha}}</td>
        
      </tr>
    </tbody>
  </table>