<div class="grid-container">
  <h1 class="mat-h1">Dashboard Admin</h1>
  <div class="productos">
    <button class="btn btn-lg btn-secondary" (click)="mostrarVentas()">Administrar productos</button>
  <app-ventas *ngIf="ventas"/>
  </div>
  <div class="usuarios">
    <button class="btn btn-lg btn-secondary" (click)="mostrarUsuarios()">Administrar usuarios</button>
    <app-clientes *ngIf="usuarios"/>
  </div>
  <div class="reservas">
    <button class="btn btn-lg btn-secondary" (click)="mostrarReservas()">Administrar Reservas</button>
    <app-reservas *ngIf="reservasVisible"></app-reservas>
  </div>
</div>