.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
.container_tarjeta {
  box-sizing: border-box;
}
            
.tarjeta_producto {
  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 400px;
  min-width: 250px;
  margin-right: 15px;
}

.tarjeta_producto img{
  padding: 10px;
}
