<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a  *ngIf="isAdmin === true" mat-list-item routerLink="/dashboard/productos">Productos</a>
      <a  *ngIf="isAdmin === true" mat-list-item routerLink="/dashboard/reservas/">Instalaciones</a>
      <a  *ngIf="isAdmin === false" mat-list-item routerLink="/home">Home</a>
      <button class="btn" (click)="isAdminToggle()">
        Cambiar rol
      </button>
      
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>AMPA</span>
      
    </mat-toolbar>


    <!-- CONTENIDO DASHBOARD-->
    <div *ngIf="isAdmin === true">
    <app-dashboard/>
    </div>

    <div *ngIf="isAdmin === false">
    <app-dashboard-user/>
    </div>
    <!--FIN CONTENIDO DASHBOARD-->

  </mat-sidenav-content>
</mat-sidenav-container>
