{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
    <p>{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}
<form class="mb-3" action="/login" method="POST">
  <label for="" class="form-label">user</label>
  <input type="text" class="form-control" name="user" id="" placeholder="user">
  <label for="" class="form-label">Password</label>
  <input type="password" class="form-control" name="password"id="" placeholder="pass">
  <button type="submit">enviar</button>
</form>