<div style="text-align: right;">
    <button mat-icon-button (click)="carro()">
        <mat-icon>shopping_cart</mat-icon>
      </button>
   
</div>
<div class="container">
    
    
    <img src="../../../../../assets/img/BANNER-MOSAICO-PRODUCTOS-2240X560PX2.gif" alt="banner" class="banner">
    <div *ngFor="let producto of productos" class="card">
        <h2>{{producto.nombre}}</h2>
        <img [src]="producto.foto" alt="{{producto.nombre}}">
        <h2>$ {{producto.precio}}</h2>
        <p>{{producto.descripcion}}</p>
        <button mat-raised-button color="warn" (click)="addToCart(producto)" *ngIf="!producto.estaEnCarrito">Añadir al carrito</button>
        <button mat-raised-button color="warn" disabled *ngIf="producto.estaEnCarrito">Añadido al carrito</button>
        

    </div>

</div>   

  