<div class="grid-container">
  <h1 class="mat-h1">Dashboard User</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content" *ngIf="card.title === 'Mi cuenta'">
          <div class="container micuenta">
            <h2>Bienvenido</h2>
          </div>
          <hr>
          <div class="historial">
            <div class="container reservas">
              <h3><b>Reservas:</b></h3>
              <div *ngIf="loggedInUser">
                <ng-container *ngIf="reservas.length === 0; else showReservas">
                  <p>{{ reservas }}</p>
                </ng-container>
                <ng-template #showReservas>
                  <table>
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Costo</th>
                        <th>Usuario</th>
                        <th>Instalaciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let reserva of reservas">
                        <td>{{ reserva.idReserva }}</td>
                        <td>{{ reserva.fecha }}</td>
                        <td>{{ reserva.hora }}</td>
                        <td>{{ reserva.costo }}</td>
                        <td>{{ reserva.usuario }}</td>
                        <td>{{ reserva.instalaciones }}</td>
                      </tr>
                    </tbody>
                  </table>
                </ng-template>
              </div>
            </div>

            <div class="container compras">
              <h3><b>Compras Realizadas:</b></h3>
              <p>{{ compras }}</p>
            </div>

          </div>
        </mat-card-content>


        <mat-card-content class="dashboard-card-content" *ngIf="card.title === 'Productos'">
          <div class="container productos">
            <button class="btn btn-secondary"><a routerLink="/dashboard/productos">Ver Productos</a></button>
          </div>
        </mat-card-content>



        <mat-card-content class="dashboard-card-content" *ngIf="card.title === 'Servicios'">
          <div class="container servicios">
            <button class="btn btn-secondary"><a routerLink="/dashboard/reservas">Ver Servicios</a></button>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
