<!-- Heroes centrado (titulo presentacion instalaciones) -->

<div class="px-4 py-5 my-5 text-center" id="heroes-reservas">
  <img class="d-block mx-auto mb-4" id="imagen-heroes" src="../../../../../assets/img/fondoarticulos-logoampa.jpg" alt="heroes-imagen" width="400" height="400">
    <h1 class="display-5 fw-bold text-body-emphasis">Instalaciones A.M.P.A.</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Hacer deporte regularmente es una de las mejores cosas que puedes hacer por tu salud física y mental.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a routerLink="/dashboard/reservas/agenda"><button type="button" class="btn btn-outline-secondary btn-lg px-4">Reservas</button></a>
      </div>
    </div>
  </div>



  <!-- DIV INSTALACIONES #1 -->
  
  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Cancha de basquet</h2>
        <a routerLink="/dashboard/reservas/agenda"><button type="button" class="btn btn-primary btn-lg">Reservar</button></a>
      </div>
      <div>
        <img class="bg-body-tertiary shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;" src="../../../../../assets/img/cancha-de-basquet.jpeg" alt="cancha-de-basquet">
        </div>
    </div>
    
    <div class="text-bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Cancha de futbol</h2>
        <a routerLink="/dashboard/reservas/agenda"><button type="button" class="btn btn-light btn-lg">Reservar</button></a>
      </div>
      <div>
        <img class="bg-body-tertiary shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;" src="../../../../../assets/img/canchaFutbol.jpg" alt="">
        </div>
    </div>
  </div>

  
<!-- DIV INSTALACIONES #2 -->

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3" id="instalaciones2">
    <div class="text-bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Cancha de Paddle</h2>
        <a routerLink="/dashboard/reservas/agenda"><button type="button" class="btn btn-light btn-lg">Reservar</button></a>
      </div>
      <div>
        <img class="bg-body-tertiary shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;" src="../../../../../assets/img/canchaPaddle.jpg" alt="cancha-de-paddle">
        </div>
    </div>
    <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Gimnasio</h2>
        <a routerLink="/dashboard/reservas/agenda"><button type="button" class="btn btn-primary btn-lg">Reservar</button></a>
      </div>
      <div>
        <img class="bg-body-tertiary shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;" src="../../../../../assets/img/Gimnacio.jpg" alt="gimnasio">
        </div>
    </div>
  </div>


<!-- SALON DE EVENTOS -->


<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="../../../../../assets/img/salon-de-eventos.jpeg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="1700" height="1500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Salón de eventos A.M.P.A.</h1>
        <p class="lead">Somos un lugar ideal para celebrar cualquier tipo de evento, desde bodas y quinceañeras, hasta cumpleaños, reuniones empresariales y eventos sociales. Nuestro salón cuenta con una capacidad para hasta 200 personas, lo que lo convierte en el espacio perfecto para tus grandes celebraciones. Contáctanos hoy mismo para obtener más información sobre nuestras promociones y reservar tu fecha. ¡Te esperamos!</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a routerLink="/dashboard/reservas/agenda"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Reservar</button></a>
    
        </div>
      </div>
    </div>
  </div>
